{% extends 'base.html.twig' %}

{% block title %}Mes tickets{% endblock %}

{% block content %}
    <div class="tickets-container">
        {% if success is defined %}
            <div class="alert alert-success">
                {{ success }}
            </div>
        {% endif %}
        <div class="tickets-container__title">Mes tickets</div>
        <a href="/ticket/add" class="btn btn-primary">Ajouter un ticket</a>
        <div class="tickets-container__grid">
            {% for ticket in tickets %}
                <div class="card">
                    <div class="card-body">
                        {% if ticket.picture is not null %}
                            <img src="{{ image(ticket.picture) }}" style="width: 100%; height: 150px; object-fit: cover; margin-bottom: 8px;" />
                        {% endif %}
                        <a href="/ticket/{{ ticket.id }}">
                            <h5 class="card-title">{{ ticket.title }}</h5>
                        </a>
                        <p class="card-text">{{ ticket.description }}</p>
                        <p class="text-body-secondary">Par {{ ticket.createdBy.firstName ~ " " ~  ticket.createdBy.name }}</p>
                        <p class="text-body-secondary">Pour {{ ticket.attributedTo.firstName ~ " " ~  ticket.attributedTo.name }}</p>
                        <a class="btn btn-secondary" href="/ticket/update/{{ ticket.id }}">Modifier</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Ajouté le {{ ticket.createdAt|date('d/m/Y à H:i') }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}